.main {
  min-height: 91vh;
  display: flex;
  justify-content: center;
  padding-top: 13%;
  background-image: url(../../assets/images/maps-bg.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
}

.main_wrapper {
  position: fixed;
  background-color: black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
}

.intro-text {
  width: 100%;
  text-align: center;
  z-index: 2;
}

.title {
  font-size: 74px;
  color: white;
}
.subtitle {
  font-size: 30px;
  padding-bottom: 17px;
  color: white;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 786px) {
  .title {
    font-size: 60px;
    padding: 40px 20px 0px 20px;
  }

  .subtitle {
    font-size: 25px;
    padding-bottom: 10px;
  }
}
