@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;1,200&display=swap');

.mainback{
    min-height: 90vh;
    padding: 20px 0;
}

.page{
    width: 100%;
}

.page hr{
    color: #ffffff;
    opacity: 1;
}

.heading{
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    padding: 5px 10px;
    color: #ffffff;
}

@media screen and (max-width: 786px) {
    .heading{
        font-size: 30px;
        display: flex;
        justify-content: center;
        color: #ffffff;
    }


    .page{
        padding: 0 20px;
    }
    
  }
